@import "../../../scss/vars";
// .nav__menu-items {
//   padding: 40px 60px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   text-decoration: none;
//   position: absolute;
//   // top: 55px;
//   // left: -200px;
//   // width: 20%;
//   background-color: $accent-color;
//   // opacity: 0;
//   // transition: 0.3s;

//   .subMenu {
//     font-size: 0.9rem;
//     font-weight: 600;
//     text-transform: uppercase;
//     padding: 10px 0;
//     text-decoration: none;
//     color: #fff;
//     // border-left: 1px solid #000;
//     transition: 0.5s;
//   }

//   .subMenu:hover {
//     color: $global-bgc;
//     transition: all 0.5s;
//     // background-color: #fff;
//   }

//   .subMenu-items {
//     color: #fff;
//     position: absolute;
//     top: 400;
//     right: 800;
//     z-index: 99;
//   }
// }

.nav-second__menu-items {
  // position: absolute;
  // top: 100;
  // left: 500;
  width: 210px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: #c42437;
  padding: 30px;
  text-align: left;

  .nav-second__subMenu {
    font-size: 1rem;
    font-weight: 400;
    // text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    // border-left: 1px solid #000;
    transition: 0.5s;

    &:hover {
      color: rgb(107, 23, 23);
    }
  }
}
