@import "../../../scss/vars";
.services {
  h1 {
    font-size: 1.1em;
    padding: 50px 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
  }

  .services-item {
    margin: auto;
    // margin-top: 50px;
    padding-bottom: 25px;
    // border-bottom: 2px solid #353535;
    align-items: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .ServiceCard {
      width: 30%;
      height: max-content;
    }
   // display: grid;
   //grid-template-columns: 1fr 1fr 1fr;
    //gap: 10px;
    // font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 1100px) {
  .ServiceCard {
    width: 500px;
    height: max-content;


  }
}
