h2 { 
  padding-top: 50px;
  padding-bottom: 20px;
}

.contact {
  padding-top: 30px;

  h2 {
    padding: 30px 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
  }

  &__inner {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  &__right {
    margin: 0;
    padding: 30px 0 0;

    h5 {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;
      padding-bottom: 40px;
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contact-us, .contact .boxs {
    width: 90%;
  }


}
