.row {
  display: flex;
  width: 100%;
}

.about {
  margin-top: 50px;
  &-img {
    margin-top: 20px;
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: violet;
      opacity: 0.5;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: bold;
    font-size: 18px;
  }
}

.col {
  border: 1px solid #c7c4c4;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  margin: 5px;
  text-align: center;
  line-height: 1.5em;
  animation: box-shadow 3s ease;
  cursor: pointer;
  width: 100%;
}
