@import "../../../../scss/vars";

.automatisation {
  width: 92%;
  margin: 0 auto;
  h2 {
    padding: 50px 0;
    font-size: 2rem;
    font-weight: 800;
    // text-transform: uppercase;
  }

  p {
    color: $light-black;
    line-height: 1.8rem;
  }

  .service-list {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;

    .service-item {
    }
  }
  p {
    color: $light-black;
    line-height: 1.8rem;
    width: 80%;
    margin: 0 auto 20px;
  }
  li {
    list-style: url("../../../images/circle.svg");
    line-height: 40px;
  }

  .about-service {
    margin: 0;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    .service-description {
      text-align: center;

      h2 {
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 4rem;
        text-align: center;
      }
    }
    iframe {
      border-radius: 200px;
      display: block;
      margin: 0 auto;
    }
  }
}
