@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

$accent-color: rgb(211, 42, 61);
$global-bgc: rgba(0, 0, 0, 0.4);
$border-color: rgba(241, 242, 244, 0.3);
$second-color: #080808;
$black: #171717;
$light-black: #585858;
